.home {
    width: 83vw;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    text-align: center;
}

.home_contents {
    width: 75vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}