.dark {
  --color-primary: #19161F;
  --font-color: #fff;
  --font-color_header: grey;
  --color-accent: aqua;

}


.light {
  --color-primary: gainsboro;
  --font-color: red;
  --font-color_header: black;
  --color-accent: blue;
}
